.articles-container {
	max-width: 992px;
	padding: 25px 16px 60px;
	margin: 0 auto;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 25px;
}

.articles-container .article-card {
	border-radius: 3px;
	height: 100%;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 5px #ccc;
	box-shadow: 0px 5px 5px #ccc;
}

.articles-container .img-container {
	overflow: hidden;
}

.articles-container .img-container img {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
	transition: transform 0.2s ease;
}

.articles-container .img-container img:hover {
	transform: scale(1.1);
}

.articles-container .text-container {
	padding: 10px 15px 17px;
	min-height: 150px;
	height: calc(100% - 200px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.articles-container h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
	color: #000;
	margin-bottom: 10px;
	position: relative;
}

.articles-container h3::before {
	content: '';
	position: absolute;
	bottom: -5px;
	height: 2px;
	left: -2px;
	width: 0;
	background-color: #000;
	transition: width 0.3s ease;
}

.articles-container h3:hover::before {
	width: 100%;
}

.articles-container .date {
	display: block;
	margin-bottom: 15px;
	color: #5fa1d4;
}

.articles-container p {
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.articles-container .card-actions {
	display: flex;
	align-items: center;
	margin-top: auto;
}

.articles-container .card-actions .btn {
	font-size: 18px;
	text-transform: lowercase;
	padding: 3px 5px 6px;
	width: calc(50% - 5px);
	border: 1px solid #5fa1d4;
	transition: all 0.2s ease;
	background-color: transparent;
	color: #000;
}

.articles-container .card-actions .btn i {
	margin-left: 5px;
	font-size: 16px;
	color: #5fa1d4;
}

.articles-container .card-actions .btn:hover,
.articles-container .card-actions .btn:focus {
	background-color: #000;
	color: #fff;
}

.articles-container a {
	display: block;
	text-decoration: none;
}
