footer {
	padding: 50px 16px;
	background-color: #555;
	border-top: 5px solid #999;
}

footer .copyright {
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center;
}